<html>
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8020398025070373"
     crossorigin="anonymous"></script>
</head>
<body>
<br><br>
<center>
<b>Thank you for using kik.to!</b><br><br>
Taking you to <a href="{{redirect}}">{{redirect}}</a><br><br>
total hits: {{hits}}
</center>
<script>
setTimeout(function()
{
  window.location="{{redirect}}"
},3000);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JD1PWZZZYY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JD1PWZZZYY');
</script>

{% if ga != None %}
    value of variable: {{ variable }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ga}}');
</script>
{% endif %}

</body>
</html>
